@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
  font-size: 16px;
  color: #FFF;
  font-family: 'Roboto Condensed';
  font-weight: 400;
}

.App {
  text-align: center;
  background-image: url("/public/photos/background.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.7);
  height: 100vh;
  width: 100vw;
  font-size: 16px;
  color: #FFF;
}

.astrophotography { background-image: url("/public/photos/astroBackground.png") !important; }

nav {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 4rem;
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

nav a {
  color: #FFF;
  text-decoration: none;;
}

nav .navLink {
  font-size: 1.5rem;
  margin: 0;
  padding: .5rem;
  height: 100%;
  box-sizing: border-box;
  border-bottom: solid .25rem transparent;
  transition: border-bottom .2s ease-in-out;
}

nav .navLink:hover {
  border-bottom: solid .25rem #FFF;
}

.appContainer {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 4rem;
  height: calc(100vh - 4rem);
  width: 100vw;
  max-width: 120rem;
}

.astroContainer {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.astroContainer .astroCard {
  min-width: 20rem;
  background-color: #FFF;
  border-radius: .25rem;
  margin: 1rem;
  box-sizing: border-box;
}

.astroContainer a {
  color: #FFF;
}

.aboutContainer {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
}

.aboutContainer h2 {
  font-weight: 300;
  width: 100%;
  text-align: left;
}

.aboutContainer p {
  text-align: justify;
  margin-bottom: 1rem;
}

.aboutContainer hr {
  margin: 1rem 0;
}

.certifications {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 80vw;
}

.certsCategory {
  font-size: 2rem;
  width: 100%;
  text-align: left;
  padding: 1rem;
}

.certsContainer {
  display: flex;
  align-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  color: #000;
}

.certsContainer > * { flex: 1; }

.certsContainer .certCard {
  min-width: 20rem;
  background-color: #FFF;
  border-radius: .25rem;
  margin: 1rem;
  box-sizing: border-box;
}

.certsContainer .certCard .certCardImg {
  float: left;
  margin: 1rem;
}
.certsContainer .certCard .certCardImg img { width: 4rem; display: inline-block; vertical-align: middle; }

.certsContainer .certCard .certCardInfo { float: left; margin: 1rem; text-align: left; }

.introCard {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.introCard .introCardMe {
  width: 10rem;
  border-radius: 10rem;
  border-color: #FFF;
  border-width: .25rem;
  border-style: solid;
}

.introCard .introCardIntro {
  color: #FFF;
  margin: 1rem;
  padding: 1rem;
  font-size: 2rem;;
}

.labsContainer {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 80vw;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.clear { clear: both; }

::selection {
  color: #FFF;
  background-color: #000;
}
